.parentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2rem auto;
  width: 40rem;
  height: 20rem;
  border: 2px solid;

}

.loginForm, .signUpForm {
  display: flex;
  flex-direction: column;
  margin: .5rem;
}
.lineBreak {
  margin: .5rem;
  margin-top: 1rem;
}

