.mapContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.featured {

  display: flex;
  justify-content: space-around;
  height: 400px;
}


.feed {
  margin-top: 1rem;
  display: flex;
  height: 500px;
  flex-direction: column;
  width: 80%;
  align-items: center;
}
