header {
  margin-top: 1rem;
  background-color: #F3E3E2;
  color: #1B2E3C;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;

}

header  button {
 padding: 0;
  margin: 0 auto;
  border: none;
  color: #1B2E3C;
  background-color: transparent;
}
header button:hover {
color: whitesmoke; 
  cursor: pointer;
}

.userCont {
  display: flex;
  
}
nav {
  display: flex;
  align-items: center;
}
