.contentCont{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
}
.featured {
  background-color:pink;
}

.feed {
  background-color: yellow;
}
